@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: Montserrat, Helvetica, sans-serif;
}

.scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-bold;
  }

  h2 {
    @apply text-xl;
    @apply font-bold;
  }

  h3 {
    @apply text-lg;
    @apply font-semibold;
  }

  h4 {
    @apply text-base;
    @apply font-semibold;
  }

  p,
  div {
    @apply text-sm;
  }
}
input {
  padding: 10px;
  color: #333333;
  outline: none;
  border-radius: "10px";
}
